.square-one{
width: 500px;
height: 500px;
background-color: blue;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.square-two{
width: 50px;
height: 50px;
background-color: chocolate;
position: absolute;
}

.square-two:hover{

    transform: scale(1.5) translate(100px) rotate(45deg);


}

.page{
    border:1px solid red;
    
}