.square-one{
width: 500px;
height: 500px;
background-color: blue;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.square-two{
width: 50px;
height: 50px;
background-color: chocolate;
position: absolute;
transition-duration: 1s;
}

.square-two:hover{
  background-color: brown;
  transform: scale(1.2);
}

.page{
    border:1px solid red;
    position: relative;
}

button{
    border-radius: 10px;
    background-color: coral;
    width: 150px;
    height: 150px;
    right: 0px;
    top: 50%;
    transition-duration: 3s;
    position: absolute;
    animation-name:but;
    animation-duration: 5s; 
    
}

button:hover{
 transform: scale(1.5);
background-color: chartreuse;
transform: translateX( -100%);
}


@keyframes but{
 0%{
opacity: 0;
 }
 100%{
opacity: 1;
 }
}